<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-lg-left">Copyright © Miljana Ristić 2019/18, Jun 2020</div>
            <div class="col-lg-6 my-3 my-lg-right">
                <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/explore" target="_blank"><i class="fab fa-twitter"></i></a><a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a><a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</footer>
